.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: calc(74px - 33px);
  background-size: contain;

}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin: 0 auto 27px 27px;
  }
}