.photo-grid__delete {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  background: none;
  padding: 0;
  border: none;
}

.photo-grid__delete:hover {
  opacity: 0.6;
  transition: 0.3s;
}