.movies__table {
  max-width: calc(100% - 70px * 2);
  min-height: 500px;
  margin: 0 auto;
  padding: 70px 0 30px 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 32px 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .movies__table {
    max-width: calc(100% - 30px * 2);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 900px) {
  .movies__table {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .movies__table {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 600px) {
  .movies__table {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 550px) {
  .movies__table {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .movies__table {
    max-width: calc(100% - 10px * 2);
    grid-template-columns: repeat(1, auto);
    padding: 40px 0 0 0;
    gap: 20px 0;
  }
}

.movies__next {
  max-width: calc(100% - 70px * 2);
  margin: 50px auto 80px auto;
  display: flex;
  justify-content: center;
}
.movies__buttoNext {
  width: 320px;
  height: 36px;
  background: white;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.52px;
}