.portfolio__title {
  max-width: calc(100% - 70px * 2);
  margin: 100px auto 30px auto;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .portfolio__title {
    max-width: calc(100% - 50px * 2);
    margin: 90px auto 50px auto;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__title {
    max-width: 292px;
    margin: 70px auto 40px auto;
    font-size: 14px;
  }
}

.portfolio__site-static-adaptiv {
  max-width: calc(100% - 70px * 2);
  margin: 20px auto 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  padding-bottom: 19px;
  border-bottom: 1px solid black;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .portfolio__site-static-adaptiv {
    max-width: calc(100% - 50px * 2);
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__site-static-adaptiv {
    max-width: 292px;
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__site-onelist {
  max-width: calc(100% - 70px * 2);
  margin: 20px auto 125px auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .portfolio__site-onelist {
    max-width: calc(100% - 50px * 2);
    margin: 20px auto 90px auto;
    font-size: 28px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__site-onelist {
    margin-bottom: 70px;
    max-width: 292px;
    font-size: 18px;
    line-height: 28px;
  }
}

.portfolio__link {
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .portfolio__link {
    width: 15px;
    
  }
}