.header {
  display: flex;
  padding: 18px 70px;
  background: white;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header__dark{
  background: #073042;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 15px 14px;
  }
}

.header__logo {
  width: 38px;
  height: 38px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 3px auto 3px 0;
  }
}

@media screen and (max-width: 520px) {
  .header__logo {
    margin: auto auto auto 0;
  }
}

.header__registr {
  margin: auto 30px auto auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .header__registr {
    margin: auto 21px auto auto;
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .header__registr {
    margin: auto 14px auto auto;
    font-size: 10px;
  }
}

.header__login {
  width: 76px;
  height: 32px;
  margin: auto 0;
  border: none;
  cursor: pointer;
  background: #2BE080;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .header__login {
    margin: auto 0;
  }
}

@media screen and (max-width: 520px) {
  .header__login {
    width: 62px;
    height: 29px;
    margin: auto 0;
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .header__login {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}

.header__wrapperMovies {
  max-width: 212px;
  display: flex;
  margin: auto auto auto 44px;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 768px) {
  .header__wrapperMovies {
    display: none;
  }
}

.header__movies {
  font-weight: 400;
  margin-right: 16px;
  text-decoration: none;
  color: black;
}

.header__saveMovies {
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.header__font-light {
  color: white;
}

.header__font-bold {
  font-weight: 500;
}

.header__wrapperAccount {
  width: 100px;
  height: 32px;
  margin: auto 0 auto auto;
  display: flex;
  border: 2px solid #AAAAAA;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__wrapperAccount-light {
  border: 2px solid white;
  color: white;
}

@media screen and (max-width: 768px) {
  .header__wrapperAccount {
    display: none;
  }
}

.header__wrapperAccount-list {
  width: 100px;
  height: 32px;
  margin: 400px auto auto auto;
  display: flex;
  border: 2px solid #AAAAAA;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header__accountImage {
  width: 12px;
  height: 14px;
  margin-right: 7px;
}

.header__accountText {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

@media screen and (max-width: 10000px) {
  .header__buttomMenu {
    width: 44px;
    height: 44px;
    margin: auto 0 auto auto;
    padding: 0;
    background: white;
    border: none;
    display: none;
  }
}

.header__buttomMenu-dark {
  background: #073042
}

@media screen and (max-width: 768px) {
  .header__buttomMenu {
    display: block;
  }
}

.displayNone {
  display: none;
}

.navigation__visible {
  display: block;
  width: 520px;
  height: 1024px;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
  z-index: 5;
}

@media screen and (max-width: 530px) {
  .navigation__visible {
    width: 100%;
  }
}

.navigation__buttonExit {
  width: 22px;
  height: 22px;
  margin: 29.16px 29.16px auto auto;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .navigation__buttonExit {
    margin: 20.16px 20.16px auto auto;
  }
}

.navigation__buttonExit-part1 {
  position: absolute;
  top: 10px;
  width: 22px;
  height: 3px;
  background: black;
  transform: rotate(45deg);
}

.navigation__buttonExit-part2 {
  position: absolute;
  top: 10px;
  width: 22px;
  height: 3px;
  background: black;
  transform: rotate(-45deg);
}

.navigation__buttonMain {
  margin: 105.44px auto 0 auto;
  width: 340px;
  display: block;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 320px) {
  .navigation__buttonMain {
    margin: 99.44px auto 0 auto;
  }
}

.navigation__buttonFilms {
  margin: 28px auto 0 auto;
  width: 340px;
  display: block;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 320px) {
  .navigation__buttonFilms {
    margin: 24px auto 0 auto;
  }
}
