.photo-grid__item {
  position: relative;
  width: 282px;
  margin: 0 17px 20px 0;
  min-height: 362px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.photo-grid__item:nth-of-type(3n) {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid__item:nth-of-type(3n) {
    margin-right: 17px;
  }
  
  .photo-grid__item:nth-of-type(2n) {
    margin-right: 0;
  }

  .photo-grid__item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid__item {
    margin: 0 0 20px 0;
    max-width: 100%;
  }
  
  .photo-grid__item:nth-of-type(3n) {
      margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__item {
    border-radius: 10px;
  }
}